<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tokoponik"
        tools:targetApi="31">
        <activity
            android:name=".ViewReview"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false" />
        <activity
            android:name=".BlogDetail"
            android:exported="false" />
        <activity
            android:name=".ViewProductCategory"
            android:exported="false" />
        <activity
            android:name=".ViewProduct"
            android:exported="false" />
        <activity
            android:name=".ViewBlog"
            android:exported="false" />
        <activity
            android:name=".SearchResult"
            android:exported="false" />
        <activity
            android:name=".ViewBank"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".Rating"
            android:exported="false" />
        <activity
            android:name=".TransactionDetail"
            android:exported="false" />
        <activity
            android:name=".EditAddressForm"
            android:exported="false" />
        <activity
            android:name=".AddAddressForm"
            android:exported="false" />
        <activity
            android:name=".ViewAddress"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".EditAccount"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".ProfileForm"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>